.house-row {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
}

.cell {
  padding: 8px;
}

.wrap-anywhere {
  word-wrap: anywhere;
}

.house-info {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
}

.error-explanation {
  border: 1px solid #ff5e5e;
  border-radius: 8px;
  padding: 12px;

  color: #ff5e5e;
}